@font-face {
    font-family: 'Star Jedi Hollow';
    src: url('../assets/fonts/StarJediHollow.woff2') format('woff2'),
        url('../assets/fonts/StarJediHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Rounded';
    src: url('../assets/fonts/StarJediRounded.woff2') format('woff2'),
        url('../assets/fonts/StarJediRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi';
    src: url('../assets/fonts/StarJedi.woff2') format('woff2'),
        url('../assets/fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.center-column-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
}